*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body
{
   font-family: Arial, Helvetica, sans-serif;
}

.ms_bb{
   background-color: black;
}

.ms_flex-end{
   display: flex;
   justify-content: flex-end;
}

.ms_tw{
   color: white;
}

.ms_bott{
   padding: 5px 15px 10px 15px; 
   border-radius: 20px;
}

.ms_stat{
   position: static;
}

.ms_110vw{
   width: 100vw;
   margin-top: 0!important;
   border-top: 0!important;
   border-radius: 0;
}

.ms_b-sf:hover{
   box-shadow:  5px  5px 5px #dedede,
   -5px -5px 5px #dedede,
    5px -5px 5px #dedede,
   -5px  5px 5px #dedede;
}

.ms_j-c{
   justify-content: center;
}

.ms_punto{
   display: inline-block;
   margin-right: 5px;
   width: 5px;
   height: 5px;
   background-color: rgb(0, 35, 150);
   border-radius: 50%;
}

a{
   text-decoration: none;
}

.ms_tb{
   color: black
}

.ms_logo-sony{
   width: 100px;
}

/* main */
main{
   margin-top: 110px;
}

/* section 1 */
.ms_bac-returnal{
   background-image: url(../img/jumbo-bg.png);
   background-size: cover;
   background-position: center;
   background-position: top;
   background-repeat: no-repeat;
}

.ms_img-v{
   width: 100%;
}

.ms_pad-300{
   padding-top: 100px;
}

.ms_bo{
   background-color: orangered;
}

.ms_br2{
   padding: 6px 0px 12px 0px; 
   border-radius: 25px;
}

.ms_bott:hover{
   transform: scale(0.9);
}

.ms-b-o{
   border: 2px solid orangered;
}

.ms_b-b{
   border: 2px solid rgb(0, 89, 255);
}

.ms_b-g{
   border: 2px solid rgb(197, 197, 197);
}

.ms_b-w{
   border: 2px solid rgb(255, 255, 255);
}

/* section 2 */

.ms_pos-rel{
   position: relative;
   transition: 2s;
}

.ms_pos-rel:hover{
   bottom: 20px;
}

.ms_bor{
   border: 2px solid rgb(23, 19, 255);
   border-radius: 20px;
}

/* section 3 */
.ms_bblu{
   background-color: rgb(0, 89, 255);
}

.ms_al-cen{
   align-items: center;
}

.ms_w-c100{
   width: calc(100% / 5);
}

.ms_bordb{
   border-bottom: 2px solid blue;
}

.ms_opac{
   opacity: 0.3;
} 

.ms_hov-opac:hover{
   opacity: 1;
   border-bottom: 2px solid blue;
}


/* section 4 */
.ms_bac-img{
   background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/* section 5 */
.ms_bac-b{
   background-color: rgb(58, 58, 58);
}

/* section 6 */


/* section 7 */
.ms_bac-g{
   background-color: rgb(138, 138, 138);
}

.ms_bac-lw{
   background-color: rgb(197, 197, 197);
}

.ms_tblu{
   color: rgb(0, 68, 255)
}

/* section 8 */


/* section 9 */
.ms_bac-darkblu{
   background-color: rgb(0, 0, 116);
}

.ms_bac-w{
   background-color: rgb(255, 255, 255);
}

/* section 10 */


/* footer */
.ms_img-global{
   width: 18px;
}

li{
   list-style: none;
}

.ms_img-sie{
   width: 110px;
}





@media (max-width: 768px){
   .ms_w-c100{
      width: calc(100% / 3);
   }
}
